# Ignore the giant data files, they must be built on the fly
data/*.csv
data/**/*.pkl

# Ignore .ipynb checkpoints
.ipynb_checkpoints/

# Ignore weird .DS_Store
**/.DS_Store

# Ignore .RHistory Files
**/.Rhistory
MLP/**/*.rda

# Excess TeX stuff
TeX/*.aux
TeX/*.out
TeX/*.toc
TeX/*.synctex.gz
